{% extends "header.html" %} {% block page_content %}

<script>
    function update_competitions_table() {
        $.get("/competition/existing", function(data, status) {
            for (index = 0; index < data["competitions"].length; index++) {
                name = data["competitions"][index]
                $("#competitions_table")
                    .append($("<tr></tr>"))
                    .append("<th>" + name + "</th>")
            }
        });
    }

    update_competitions_table()
</script>

<div class="white row">
    <div class="col s6">
        <table class="striped">
            <thead>
                <tr>
                    <th>Competition</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="competitions_table">

            </tbody>
        </table>
    </div>
    <div class="col s6">

    </div>

</div>

{% endblock %}