{% extends "header.html" %} {% block page_content %}

<script>
    function update_competition() {
        var data = {};

        data["name"] = $("#competition_name").val();
        data["description"] = $("#competition_description").val();
        data["date"] = $("#competition_date").val();
        data["logo"] = $("#competition_logo").val();

        $.ajax({
            type: "POST",
            url: "/competition/" + get_url_param("competition") + "/update",
            data: JSON.stringify(data),
            contentType: 'application/json;charset=UTF-8'
        })
    }

    function load_data() {
        $.get("/competition/" + selected_competition + "/data", function(data, status) {
            $("#competition_name").val(selected_competition);
            $("#competition_description").val(data["description"]);

            console.log(data["date"])

            M.Datepicker.getInstance($("#competition_date")).setDate(new Date(data["date"]));
            $("#competition_date").val(data["date"])

            $('#bow_column > .auto_generated').remove();
            $('#class_column > .auto_generated').remove();

            for (let it = 0; it < data["bows"].length; it++) {
                name = data["bows"][it]
                $("#bow_column").append("<li class='collection-item auto_generated'>" + name + "<i onclick='delete_bow(\"" + name + "\")' class='material-icons right'>clear</i></li>");
            }

            for (let it = 0; it < data["classes"].length; it++) {
                name = data["classes"][it]
                $("#class_column").append("<li class='collection-item auto_generated'>" + name + "<i onclick='delete_class(\"" + name + "\");' class='material-icons right'>clear</i></li>");
            }
        });
    }

    function add_class() {
        var data = {};

        name = $("#new_class_name").val()
        data["class"] = name

        if (data["class"] != "") {
            $.ajax({
                type: "POST",
                url: "/competition/" + selected_competition + "/add_class",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function(data, status, request_object) {
                    M.toast({
                        html: "Added class " + name
                    });
                    load_data();
                    $("#new_class_name").val("")
                },
                error: function(data, status, request_object) {
                    M.toast({
                        html: "Could not add class " + name
                    });
                }
            })
        }
    }

    function delete_class(name) {
        $.ajax({
            type: "POST",
            url: "/competition/" + selected_competition + "/remove_class",
            data: JSON.stringify({
                class: name
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(data, status, request_object) {
                M.toast({
                    html: "Deleted class " + name
                });
                load_data();
            },
            error: function(data, status, request_object) {
                M.toast({
                    html: "Could not delete class " + name
                });
            }
        })
    }

    function add_bow() {
        var data = {};

        name = $("#new_bow_name").val();
        data["bow"] = name;

        if (data["bow"] != "") {
            $.ajax({
                type: "POST",
                url: "/competition/" + selected_competition + "/add_bow",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function(data, status, request_object) {
                    M.toast({
                        html: "Added bow " + name
                    });
                    load_data();
                    $("#new_bow_name").val("")
                },
                error: function(data, status, request_object) {
                    M.toast({
                        html: "Could not add bow " + name
                    });
                }
            });
        }
    }

    function delete_bow(name) {
        $.ajax({
            type: "POST",
            url: "/competition/" + selected_competition + "/remove_bow",
            data: JSON.stringify({
                bow: name
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(data, status, request_object) {
                M.toast({
                    html: "Deleted bow " + name
                });
                load_data();
            },
            error: function(data, status, request_object) {
                M.toast({
                    html: "Could not delete bow " + name
                });
            }
        })

        load_data();
    }

    $(document).ready(function() {
        load_data();
        $('#competition_date').datepicker();
    });
</script>

<div class="white row">
    <form class="col s12">
        <div class="row">
            <div class="col s10">
                <input placeholder="Name" id="competition_name" type="text">
                <label for="competition_name">Competitiion Name</label>
                <textarea placeholder="Description" id="competition_description" class="materialize-textarea"></textarea>
                <label for="competition_description">Description</label>
                <input type="text" id="competition_date">
                <label for="competition_date">Date</label>
            </div>
            <div class="col s2">
                <img id="competition_logo">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Logo</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload a Logo">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="button" onclick="update_competition();">Update
            <i class="material-icons right">send</i>
        </button>
        <div class="row">
            <div class="col s6">
                <ul id="bow_column" class="collection">
                    <div class="valign-wrapper row">
                        <input id="new_bow_name" class="col s9 right " placeholder="New bow..." type="text">
                        <i class="col s2 material-icons right" onclick="add_bow();">add</i>
                    </div>
                </ul>
            </div>
            <div class="col s6">
                <ul id="class_column" class="collection">
                    <li>
                        <div class="valign-wrapper row">
                            <input id="new_class_name" class="col s9 right " placeholder="New class..." type="text">
                            <i class="col s2 material-icons right" onclick="add_class();">add</i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </form>
</div>

{% endblock %}